
			<!-- 头部 -->
			<!-- <div class="header" ng-hide="loaded">
				<a href="javascript:;" class="menu icon-menu"></a>
				<h2>栏目浏览</h2>
				<a href="javascript:;" class="search icon-search"></a>   
			</div> -->
			<!-- 主体 -->
			<div class="posts">
				<ul class="category">
					<li ng-repeat="column in columns">
						<a href="javascript:;">
							<img ng-src="{{column.icon}}" alt="">
							<h5>{{column.name}}</h5>
							<p>{{column.description}}</p>
						</a>
					</li>
					
				</ul>
			</div>
